<% unless current_user?(@user) %>
  <div id="follow_form">

  <% if current_user.following?(@user) %>
      <%= form_for(current_user.following_relationships.find_by(following_id: @user.id), html: { method: :delete }) do |f| %>
      <%= f.submit "🅄🄽🄵🄾🄻🄻🄾🅆", class: "follow-btn1" %>
    <% end %>  

  <% else %>
    <%= form_for(current_user.following_relationships.build(following_id: @user.id)) do |f| %>
    <div><%= f.hidden_field :following_id %></div>
    <%= f.submit "🅵🅾🅻🅻🅾🆆", class: "follow-btn2" %>
    <% end %>

  <% end %>

  </div>
<% end %>