    <div class= "Account__info">

      <h1 class="border-bottom-1">MyProfile</h1>

      <div class="Account_link">
        <% if user_signed_in? %>
      
          <%=link_to '⇨ MyPage', items_path(@user), class:"back-page-btn" %>
            
        <% else %>
          <ul>
          <li><%= link_to '⇩ Login', new_user_session_path, class: "login" %></li>
          <li><%= link_to '⇩ New Registration', new_user_registration_path, class: "sign-up" %></li>
          </ul>
        <% end %>
      </div>

    </div>

<h2>  <%= link_to @user.nickname , '#'%> 's profile</h2>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-intern"> name</th>
          <td class="detail-value"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="detail-intern"> nickname</th>
          <td class="detail-value"><%= @user.nickname %></td>
        </tr>
        <% if  @user == current_user %>  
          <tr>
            <th class="detail-intern">email</th>
            <td class="detail-value"><%= @user.email%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <h3>いいねしているイベント</h3>
    <% @user.liked_posts.each do |event| %>
      <%= event.user.nickname %>
      <%= event.detail %>
    <% end %>

    <div class="more_list">
        <% if user_signed_in? %>    
          <% if  @user== current_user %>        
            
              <%= link_to 'EDIT 📝', edit_user_path(@user), method: :get %>

          <% end %>   
        <% end %>  
    </div>   
 