<h1 class="border-bottom-1">MyProfile</h1>
<h2>  <%= link_to @user.nickname , '#'%> 's profile</h2>

    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-intern"> name</th>
          <td class="detail-value"><%= @user.name %></td>
        </tr>
        <tr>
          <th class="detail-intern"> nickname</th>
          <td class="detail-value"><%= @user.nickname %></td>
        </tr>
        <% if  @user == current_user %>  
          <tr>
            <th class="detail-intern">email</th>
            <td class="detail-value"><%= @user.email%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="more_list">
        <% if user_signed_in? %>    
          <% if  @user== current_user %>        
            
              <%= link_to 'EDIT ðŸ“', edit_user_path(@user), method: :get %>

          <% end %>   
        <% end %>  
    </div>   
    <div class="Account_link">
      <%=link_to 'â‡¨ MyPage', items_path(@user), class:"back-page-btn" %>
    </div>