<div class="items-contents">

  <div class="items-main">
    <h5 class="items-header">Edit the post 🍜</h5>
    <%= form_with model: @item , local: true do |f| %>
    
      <%# <%= render 'layouts/error_messages', model: f.object %> 
    
     
      <div class="new-items">
          <h6>< About the post  ></h6>
        <div class = "post">
          <div class="weight-bold-text">
            <strong>* Title</strong>
            <span class="indispensable"> necessary </span>
          </div>
          <%= f.text_area :title, class:"items-title", id:"item-title", placeholder:"Plase fill in the title of this post (max: 20 letters)" %>
          <%# 画像 %>
          <div class="img-upload">
            <div class="weight-bold-text">
              <strong>* Image</strong>
              <span class="indispensable"> necessary </span>
            </div>
            <div class="click-upload">
              <p>
                Click to upload file
              </p>
              <%= f.file_field :image, id:"item-image" %>
            </div>
          </div>
          <%# /画像 %>
          <div class="items-explain">
            <div class="weight-bold-text">
              <strong>* Explanation</strong>
              <span class="indispensable"> necessary </span>
            </div>
            <%= f.text_area :explanation, class:"items-text", id:"item-explanation", placeholder:"Please fill in the explanation of the ramen (ex: tast , characteristics of the ramen...etc)(max: 200 letters)" %>
          </div>
        </div>
        
          <h6>< About the address of the ramen shop ></h6>
          <div class= "ramens-address">
          <div class="items-prefecture">
            <div class="weight-bold-text">
              <strong>* Prefecture</strong>
              <span class="indispensable"> necessary </span>
            </div>
            <%= f.collection_select(:prefecture_id, Prefecture.all, :id, :name, {}, {class:"items-collection", id:"item-prefecture"}) %>
          </div>
          <div class= "items-city">
            <div class="weight-bold-text">
              <strong>* City</strong>
              <span class="indispensable"> necessary </span>
            </div><%= f.text_area :city, class:"items-city", id:"item-city", placeholder:"Please fill in the city of the ramen shop" %>
          </div>
        </div>
      </div>

      <%# 下部ボタン %>
      <div class="items-btn-contents">
        <%= f.submit "⇧ Update " ,class:"new-item-btn" %>
        <br>
        <%=link_to '⇨ back to MyPage', items_path(current_user), class:"back-page-btn" %>
        <br>
      </div>
      <%# /下部ボタン %>
    
    <% end %>
  </div>
</div>